# example .env file for the client folder
# create file ".env" in the client folder and copy the content of this file to it
# your sensitive keys and configuration should go to ".env"
VITE_API_URL=http://localhost:5000/api